Fundamentos de ciência de dados - Luiz Davi e Thiago Cavalcanti

In [1]:
from nba_api_time_utils import resgatar_classificacao_por_temporada, salvar_dataset_csv
from constantes import TEMPORADA_ATUAL, RESULTADOS_PATH

# RF2 – Apresentar a classificação atual dos times [Agrupados por Conferência]

In [2]:
classificacao_por_temporada = resgatar_classificacao_por_temporada(TEMPORADA_ATUAL)
salvar_dataset_csv(classificacao_por_temporada, f"{RESULTADOS_PATH}/rf2_classificacao_por_temporada.csv")

classificacao_por_temporada

   Conferência Leste      Conferência Oeste
            TeamName WINS          TeamName WINS
0          Cavaliers   36           Thunder   35
1            Celtics   30           Rockets   28
2             Knicks   29         Grizzlies   28
3              Bucks   24           Nuggets   27
4             Pacers   24          Clippers   24
5              Magic   23         Mavericks   23
6              Hawks   22            Lakers   23
7            Pistons   22             Kings   22
8               Heat   21      Timberwolves   22
9              Bulls   19              Suns   21
10             76ers   15          Warriors   21
11              Nets   14             Spurs   19
12           Hornets   11     Trail Blazers   15
13           Raptors   11          Pelicans   12
14           Wizards    6              Jazz   10